input {
  width: 500px;
  height: 40px;
  font-size: 18px;
  max-width: 100%;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

#lista-de-productos {
  display: flex;
  gap: 20px; /* Espacio entre productos */
  flex-wrap: wrap; /* Permite que los productos bajen si no caben */
}

.producto {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px; /* Bordes redondeados */
}

.producto img {
  width: 70%;
  height: auto;
}
